<div id="<%-module.map.id%>">
	
	<div class="maket topCaption">
		<div class="work">
			<div class="caption section">
				<%=e('easyNode_e2016')%>
			</div>
		</div>
	</div>

	<div class="maket leftPart">

		<div class="work">

	
			<div class="sitelogin section">
				<div class="label">
					<%=e('easyNode_e2017')%>.
				</div>

				<div class="form">
			    	<div class="item">
						

						<div class="inputTable table keytable">

				    		<div>
				    			<div class="inputWrapperKey">
									<input elementsid="yourprivateloginkey" type="password" class="loginValue" value="" placeholder="<%=e('easyNode_e2018')%>" autocomplete="on"/>
								</div>
							</div>
							<div class="actionButtonsWrapper">
								<label elementsid="uploadfilewallet" class="uploadFile" id="uploadWalletFile">
									<input type="file" class="inputUploadFile" for="uploadWalletFile">
									<div class="icon"><i class="fas fa-upload"></i></div>
									<div class="label"><%=e('loadwalletfile')%></div>
								</label>
								<div elementsid="showpassword" class="showPassword hidden" tabindex="1000">
									<div class="icon"><i class="fas fa-eye"></i></div>
								</div>
							</div>
						</div>
						
						
					</div>

			        <div class="item e buttons">
			        	<button elementsid="addprivatekey" class="enter"><%=e('add')%></button>
			        </div>

			    </div>
			</div>

		</div>

	</div>

</div>