<!-- FAQ Section -->
<div class="faq-section">
    <div class="section-title">Часто задаваемые вопросы</div>
    <div class="accordion-list">
        <div class="accordion-item">
            <div class="accordion-title">Что такое валидатор?</div>
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7af1a5c10f38599747a21552abf8037c85aac131?placeholderIfAbsent=true&apiKey=b3a245a52e034e378015bba57aea4de9" class="accordion-icon" />
            <div class="accordion-content"><div class="accordion-text"></div></div>
        </div>
        <div class="accordion-item">
            <div class="accordion-title">Могу ли я внести более 32 ЕТН?</div>
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7af1a5c10f38599747a21552abf8037c85aac131?placeholderIfAbsent=true&apiKey=b3a245a52e034e378015bba57aea4de9" class="accordion-icon" />
            <div class="accordion-content"><div class="accordion-text"></div></div>
        </div>
        <div class="accordion-item">
            <div class="accordion-title">Попаду ли я под сокращение, если перейду в офлайн-режим? (Если коротко: нет.)</div>
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7af1a5c10f38599747a21552abf8037c85aac131?placeholderIfAbsent=true&apiKey=b3a245a52e034e378015bba57aea4de9" class="accordion-icon" />
            <div class="accordion-content"><div class="accordion-text"></div></div>
        </div>
        <div class="accordion-item">
            <div class="accordion-title">Как точно не попасть под сокращение?</div>
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7af1a5c10f38599747a21552abf8037c85aac131?placeholderIfAbsent=true&apiKey=b3a245a52e034e378015bba57aea4de9" class="accordion-icon" />
            <div class="accordion-content"><div class="accordion-text"></div></div>
        </div>
        <div class="accordion-item">
            <div class="accordion-title">Какой клиент лучше всех?</div>
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7af1a5c10f38599747a21552abf8037c85aac131?placeholderIfAbsent=true&apiKey=b3a245a52e034e378015bba57aea4de9" class="accordion-icon" />
            <div class="accordion-content"><div class="accordion-text"></div></div>
        </div>
        <div class="accordion-item">
            <div class="accordion-title">Могу ли я просто использовать VPS (виртуальный частный сервер)?</div>
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7af1a5c10f38599747a21552abf8037c85aac131?placeholderIfAbsent=true&apiKey=b3a245a52e034e378015bba57aea4de9" class="accordion-icon" />
            <div class="accordion-content"><div class="accordion-text"></div></div>
        </div>
        <div class="accordion-item">
            <div class="accordion-title">Как разблокировать свои вознаграждения или вернуть ЕТН?</div>
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7af1a5c10f38599747a21552abf8037c85aac131?placeholderIfAbsent=true&apiKey=b3a245a52e034e378015bba57aea4de9" class="accordion-icon" />
            <div class="accordion-content"><div class="accordion-text"></div></div>
        </div>
    </div>
    
</div>

<!-- Resources Section -->
<div class="resources-section">
    <div class="section-title">Дополнительные ресурсы</div>
    <div class="resource-list">
        <a href="https://ethereum.org/en/staking/" target="_blank">
            <div class="resource-item">
                <div class="resource-link">Каталог стейкинга Ethereum(opens in a new tab)</div>
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d7a10717cd66f29ac09ba6a32b2ef16779d69767?placeholderIfAbsent=true&apiKey=b3a245a52e034e378015bba57aea4de9" class="resource-icon" />
            </div>
        </a>
        <a href="https://ethereum.org/en/staking/2" target="_blank">
            <div class="resource-item">
                <div class="resource-link">Проблема разнообразия клиентов Ethereum</div>
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d7a10717cd66f29ac09ba6a32b2ef16779d69767?placeholderIfAbsent=true&apiKey=b3a245a52e034e378015bba57aea4de9" class="resource-icon" />
            </div>
        </a>
        <a href="https://ethereum.org/en/staking/3" target="_blank">
            <div class="resource-item">
                <div class="resource-link">Помощь с разнообразием клиентов(opens in a new tab)</div>
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d7a10717cd66f29ac09ba6a32b2ef16779d69767?placeholderIfAbsent=true&apiKey=b3a245a52e034e378015bba57aea4de9" class="resource-icon" />
            </div>
        </a>
        <a href="https://ethereum.org/en/staking/4" target="_blank">
            <div class="resource-item">
                <div class="resource-link">Разнообразие клиентов на консенсусном уровне Ethereum(opens in a new tab)</div>
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d7a10717cd66f29ac09ba6a32b2ef16779d69767?placeholderIfAbsent=true&apiKey=b3a245a52e034e378015bba57aea4de9" class="resource-icon" />
            </div>
        </a>
    </div>
</div>