<div class="nodecontentstate">

    <% if(nc.hasbin && !nc.lock) {%>

        <% if(nodestate.info.lastblock) {console.log('nodestate.info.lastblock.height', ((nodestate.info.lastblock.height / manager.chain.bestHeight) * 100).toFixed(1))%>
            <div class="settingBlock">
      
                <div class="stat stat-top">
                    
                    <% fork = (nodestate.info.lastblock.height - manager.chain.bestHeight) > 15,
                    percent = (nodestate.info.lastblock.height * 100 / manager.chain.commonHeight).toFixed(1)
                    %>
                        <div class="sync">
                            <span><%-e('easyNode_e10008')%>:</span>
                            <span class="loader">
                                <i class="fas fa-spinner fa-spin"></i>
                            </span>
                            <span class="<%- fork ? 'bad' : '' %> perc">
                                <%- percent %>% 
                                <!-- <%- nodestate.info.lastblock.height.toLocaleString() %>
                                <%- manager.chain && Math.abs(nodestate.info.lastblock.height - manager.chain.bestHeight) > 15
                                    ?
                                    ` / ${Number(manager.chain.bestHeight).toLocaleString()}`
                                    :
                                    ''
                                %> -->
                            </span>
                            <% if (Number.isFinite(nodestate.sync.left) && nodestate.sync.left > 0) { %>
                    
                                <% if(nodestate.sync.left < 1) { %>
                                    <span class="syncLeft">
                                        (<%-e('easyNode_e10036')%>)
                                    </span>
                                
                                <% } else if(nodestate.sync.left >= 1) { %>
                                    <span class="syncLeft">
                                        (<%-e('easyNode_e10037', nodestate.sync.left)%>)
                                    </span>
                                <% }%>

                            <% } else { %>
                                <% if (fork) { %>
                                    <span class="syncLeft">
                                        <i class="fas fa-code-branch bad"></i>
                                    </span>
                                <% } %>
                            <% } %>
                            <span class="question">
                                <i class="far fa-question-circle"></i>
                            </span>
                        </div>

                        <div class="version">
                            <span class="version-label"><%-e('easyNode_e10032')%>: </span>
                            <span class="version-value">
                                <%- nodestate.info.version %>
                            </span>
                            <span class="blockchain">
                                <%- nodestate.info.chain %>
                            </span>
                        </div>


                </div>

            </div>
            <div class="settingBlock">
                <div class="stat stat-second">
                    <div>
                        <div class="label">
                            <span><%-e('easyNode_e10038')%>:</span>
                        </div>
                        <div class="value">
                            <span><%-nodestate.info.lastblock.hash%></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="settingBlock">
                <div class="stat stat-second">
                    <div>
                        <div class="label">
                            <span><%-e('easyNode_e10021')%>:</span>
                        </div>
                        <div class="value">
                            <% if(nodestate.status == 'launched') { %>
                                <i class="fas fa-check-circle good"></i> <span class="good"><%-e('easyNode_e10031')%></span>
                            <% } else { %> 
                                <span class="bad"><%-flb(nodestate.status)%></span>
                            <% } %>
                        </div>
                    </div>
    
                    <% if(nodestate.error && !_.isEmpty(nodestate.error)) {%>
                        <div>
                            <div class="label">
                                <span><%-e('easyNode_e10034')%>:</span>
                            </div>
                            <div class="value">
                                <span><b><%-nodestate.error.code || '0'%></b>: <%-deep(nodestate, 'error.message') || "Undefined Error"%></span>
                            </div>
                        </div>
                    <% } %>
                    <div class="systempath systempathchoosen">
    
                        <div class="label">
                            <span><%-e('easyNode_e100121')%>:</span>
                        </div>
        
                        <div class="value">
                            <span><%- nc.node.dataPath %></span>
                        </div>
    
                    </div>
                </div>
            </div>

        <% } %>






    <% } %>

</div>