
<div class="key">
    <div class="work">	


        <div class="stepContent">
            <div class="subsubcaption">
                <span><%=e('easyNode_e2009')%></span>
            </div>
            <div class="subcaption">

                <span class="bad"><%=e('e13143')%> </span> <%=e('easyNode_e2010')%>

                
            </div>

            <div class="mnemonicKeyTable table">

                    <div class="mnemonicKeyCell">

                        <div class="pklabel">
                            <%=e('easyNode_e2011')%>
                        </div>
                        
                        <div class="mnemonicKey">
                        
                        </div>

                        <div class="buttonWrapper">
                            <button elementsid="copycode" class="copy button orange rounded"><i class="fas fa-copy"></i> <%=e('easyNode_e2012')%></button>
                        </div>

                        <div class="buttonWrapper saveButtonWrapper">
                            <button elementsid="save" class="save button second rounded"><i class="fas fa-save"></i> <%=e('easyNode_e2007')%></button>
                        </div>
                        
                    </div>

                <!--<div class="iconWrapper">

                    <div class="pklabel hidden">
                        <%=e('privatekeyqr')%> 
                    </div>
                
                    <div class="qrcode unselectable hidden"></div>

                    <div class="buttonWrapper">
                        <button elementsid="saveqrcode" class="save ghost"><i class="fas fa-save"></i> <%=e('saveqrcode')%></button>
                    </div>

                </div>-->

                
            </div>

            <div class="hiddenMnemonicKey hidden">
                <%-mnemonicKey%>
            </div>


        </div>
    </div>

</div>
